{% extends 'appcoder/base.html' %}
{% block contenidoQueCambia %}

<h1 style='text-align: center'>Estudiantes actuales</h1>
<a style='text-align: center'>

{% if listado_estudiantes %}
<p style="text-align: center">Estos son los estudiantes:</p>
    <ul>
    {% for estudiante in listado_estudiantes %}
        <li>Estudiante: {{estudiante}} <a href="{% url 'estudiantes_editar' estudiante.id %}">Editar</a> <a href="{% url 'estudiantes_borrar' estudiante.id %}">⚠Borrar⚠</a> </li>
    {% endfor %}
    </ul>
{% else %}
    <p>En este momento no hay estudiantes registrados</p>
{% endif %}
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <nav class="navbar navbar-light bg-light static-top">
                        <div class="container">
                            <a style='text-align: center'; href='/appcoder/estudiantes'/>Volver</a>
                        </div>
                    </nav>
                </div>                    
            </div>
        </div>
    </section>          
</a>



{% endblock %}